.sign-up {
    background-image: url('../../../public/images/image-6.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    
  }
  .form-text{
    color: #fff;
  }
 